/* Universal Selector  */ 
    
* {
  color: aqua;
  background-color: black;
} 
 
/* Type Selector  */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: aqua;
  background-color: black;
}

/* Class Selector  */

.p1,
.p2,
.p3 {
  color: red;
}

/* ID Selector  */

#p4,
#p5,
#p6 {
  color: blue;
}

a {
  color: green;
}

#link1 {
  color: green;
}

#link2 {
  color: red;
} 

/* Child Selector  */

ul > li {
  color: purple;
}

/* Descendent Selector  */

ul li {
  color: purple;
}

/* Adjacent Sibling Selector  */

h1 + p {
  background-color: lightsalmon;
}

/* General Sibling Selector  */

h1 ~ p {
  background-color: lightsalmon;
}
