/* * {
  color: aqua;
  background-color: black;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: aqua;
  background-color: black;
} */

.p1,
.p2,
.p3 {
  color: red;
}

.p4,
.p5,
.p6 {
  color: blue;
}

/* a {
  color: green;
} */

/* #link1 {
  color: green;
}

#link2 {
  color: red;
} */

/* ul > li {
  color: purple;
}


ul li {
  color: purple;
} */

/* h1 + p {
  background-color: lightsalmon;
} */

h1 ~ p {
  background-color: lightsalmon;
}

ul > li {
  color: orange;
}
